body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    background-color: #fff;
}

#main-header{
    max-width: 1600px;
    /* background-color: rgb(255, 222, 222); */
    margin: 0 auto;
    padding: 16px 120px;
    
}

#main-header .header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.header-section .logo img{
    max-width: 100px;
    
    
}

.header-section li {
    list-style-type: none;
    display: inline;
    margin-right: 32px;
    font-size: 16px;
    font-weight: 400;
}

.header-section li a{
    text-decoration: none;
    color: #000;
}

.header-section .btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.header-section .btn:hover{
    background-color: #205a39;
    cursor: pointer;
    
}

#banner-section{
    max-width: 1600px;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 16px 120px;
    
}

#banner-section .section-banner .all-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* padding: 150px 0; */
}

.section-banner .all-section{
    padding: 50px 0;
}

.section-banner h3{
    background-color: #fff;
    color: #469165;
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    
}

.section-banner h1{
    /* display: inline; */
    color: #fff;
    font-size: 72px;
    margin-bottom: -3px;
    margin-top: -3px;
}
.section-banner h1 span{
    color: #30B868;
    
}

.section-banner .banner-dual-bottom{
    display: flex;
    gap: 10px;
}

.section-banner .all-section p{
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.section-banner .all-section .btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.section-banner .all-section .extra-design{
    background-color: rgba(0, 174, 255, 0);
    border: 1px solid #fff;
    

}
.section-banner .all-section .btn:hover{
    background-color: #205a39;
    cursor: pointer;
}


#note-section{
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    text-align: center;
}

#note-section .heading{
    font-size: 42px;
    margin-bottom: -3px;
}

#note-section .paragarp{
    font-size: 16px;
    color: #627382;
}

#note-section .card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-section .card{
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px rgba(206, 206, 206, 0.476);
}

.card-section .card h2{
    font-size: 22px; 
    margin-bottom: -2px;
}

.card-section .card p{
    font-size: 14px;
    color: #717171;
}

.card-section .card .image{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#brain-section{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 50px 120px;
    margin: 0 auto;
    
}

#brain-section .brain-image img{
    width: 500px;
    height: 500px;
    border-radius: 12px;
} 


#brain-section .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.right-section li{
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: -35px;
}

.right-section li img{
    padding-right: 10px;
    margin: -5px;
}

.right-section .the-solution{
    color: #205a39;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.right-section .second-brain{
    font-size: 48px;
    font-weight: 600;
    margin: -5px 0;
}

.right-section .personal-knowledge{
    font-size: 16px;
    font-weight: 300;
    color: #717171;
    line-height: 25px;
}


#early-secton{
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 120px;
    
  
}

#early-secton .early-card{
    background-color: #F7F6F2;
    text-align: center;
    padding: 50px 0;
    border-radius: 15px;
}
.early-card h2{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: -5px;
}

.early-card p{
    font-size: 16px;
    color: #717171;
    /* margin-top: -8px; */
}


.early-card button{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.early-card button:hover{
    padding: 12px 16px;
    background-color: #2a6041;
    cursor: pointer;
}

#main-footer{
    max-width: 1600px;
    background-color: #001931;
    padding: 120px 120px 20px;
    margin: 0 auto;
}

#main-footer .footer-section{
    display: flex;
    justify-content: space-between;
}

.footer-section{
    padding-bottom: 40px ;
}

.footer-section .socile p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    
}


.footer-section .socile .socile-icon{
    color: #fff;
    margin-top: -6px;
}



#main-footer .copyright{
    padding-top: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid rgb(59, 59, 59);
}

